<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate</title>
</head>
<body>
    <h1>Меню выбора методов:</h1>
    <p>Определение величины партии из временных параметров - <a href={% url 'one:one' %}>Первый метод</a></p>
    <p>Определение величины партии по критерию минимизации затрат - <a href={% url 'two:two' %}>Второй метод</a></p>
    <p>Kнига Мельцер - <a href={% url 'three:index' %}>третий метод</a></p>
</body>
</html>
